{
  "extends": ["triple/svelte"],
  "env": {
    "browser": true,
    "node": true,
  },
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/lines-between-class-members": 0,
    "@typescript-eslint/no-throw-literal": 0,
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "rules": {
        "@typescript-eslint/no-unnecessary-condition": 0,
      },
    },
  ],
}
