{
  "extends": ["triple/svelte"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".cjs", ".svelte"]
  },
  "rules": {
    "import/no-extraneous-dependencies": "off"
  }
}
