node_modules
/apps/chrome-extension/build
/chrome-extension.zip
/apps/firefox-extension/build
/apps/firefox-extension/web-ext-artifacts
/packages/blender-elements/.histoire/

*storybook.log
/packages/pixi-panel/build/ui-mini.txt
/packages/pixi-panel/build/ui-legacy.txt
