.pixi-inspector {
  cursor: default;
  /*font-family: Lucida Grande, sans-serif;
  font-size: 12px;*/
  font-size: 11px !important;
  font-family: Menlo, monospace;
}

/* TreeView */

.treeview {
	color: #808;
	white-space: nowrap;
	padding: 1px;
}
.treeview:hover:not(.treeview--selected) {
	background: #eaf1fb;
}
.treeview--selected {
	background: #d4d4d4;
}
.treeview--selected:focus {
	background: #3879d9;
	color: white;
	outline: none;
}

/* DetaiView */ 

.detailview {
	white-space: nowrap;
}
.detailview__label {
	display: inline-block;
	color: #c00;
	padding: 1px 5px 1px 0;
}
.detailview__label:after {
	content: ':';
	color: #000;
}
.detailview__value {
	color: #333;
	margin-bottom: 2px;
}

/* SplitView */

.splitview {
	display: flex;
}
.splitview__item {
	padding: 5px;
}
.splitview__item:not(:first-child) {
	border-left: 1px solid #ccc;
}
