.detailview {
	white-space: nowrap;
}
.detailview__label {
	display: inline-block;
	color: #c00;
	padding: 1px 5px 1px 0;
	&:after {
		content: ':';
		color: #000;
	}
}
.detailview__value {
	color: #333;
	margin-bottom: 2px;
}