body {
  margin: 0;
  font-family: Lucida Grande, sans-serif;
  font-size: 12px;
}
[contenteditable] {
  cursor: text;
}
.pixi-panel {
  cursor: default;
  font-size: 11px !important;
  font-family: Menlo, monospace;
}
.pixi-panel__message {
  height: 80%;
  font-size: 24px;
  color: rgb(75%, 75%, 75%);
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;  
}